{% extends "base.html" %}

{% block title %}Sortie de stock{% endblock %}

{% block content %}

<div class="page-header">
    <div>
        <h3>Sortie de stock</h3>
        <p>Retirez une quantité du stock d’un produit.</p>
    </div>

    <a href="{% url 'stock_list' %}" class="btn btn-light-premium">
        <i class="bi bi-arrow-left"></i>
        Retour
    </a>
</div>

<div class="premium-panel">
    <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="col-12 col-lg-6">
            <label class="form-label">Produit</label>
            {{ form.product }}
            {{ form.product.errors }}
        </div>

        <div class="col-12 col-lg-6">
            <label class="form-label">Quantité à sortir</label>
            {{ form.quantity }}
            {{ form.quantity.errors }}
        </div>

        <div class="col-12">
            <label class="form-label">Motif de sortie</label>
            {{ form.reason }}
            {{ form.reason.errors }}
        </div>

        <div class="col-12 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-danger-premium">
                <i class="bi bi-check-circle"></i>
                Enregistrer la sortie
            </button>

            <a href="{% url 'stock_list' %}" class="btn btn-light-premium">
                Annuler
            </a>
        </div>
    </form>
</div>

{% endblock %}