{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="page-header">
    <div>
        <h3>{{ title }}</h3>
        <p>Renseignez les informations de la dépense.</p>
    </div>

    <a href="{% url 'expense_list' %}" class="btn btn-light-premium">
        <i class="bi bi-arrow-left"></i>
        Retour
    </a>
</div>

<div class="premium-panel">
    <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="col-12 col-lg-6">
            <label class="form-label">Titre</label>
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="col-12 col-lg-6">
            <label class="form-label">Catégorie</label>
            {{ form.category }}
            {{ form.category.errors }}
        </div>

        <div class="col-12 col-lg-6">
            <label class="form-label">Montant</label>
            {{ form.amount }}
            {{ form.amount.errors }}
        </div>

        <div class="col-12 col-lg-6">
            <label class="form-label">Date dépense</label>
            {{ form.expense_date }}
            {{ form.expense_date.errors }}
        </div>

        <div class="col-12">
            <label class="form-label">Description</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>

        <div class="col-12 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-primary-premium">
                <i class="bi bi-check-circle"></i>
                {{ button_label }}
            </button>

            <a href="{% url 'expense_list' %}" class="btn btn-light-premium">
                Annuler
            </a>
        </div>
    </form>
</div>

{% endblock %}